.what {
margin-top: 12rem;
padding-bottom: 10rem;
position: relative;
overflow: hidden;
z-index: 1;
}



.what_heading {
margin-bottom: 3rem;
z-index: 2;
}
.what_heading h5{
font-size: 16px;
display: flex;
align-items: center;
color: #C6C8CF;
text-transform: uppercase;
}

.what_heading h6{
    font-size: 30px;
    font-weight: 800;

  font-weight: 800;
  font-size: 30px;
   background: linear-gradient(45deg,#8BB0DE , #E080B2 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.what_heading svg {
  margin-left: .5rem;
}
.what_heading p{
    font-size: 30px;
    font-weight: 800;
     color: white;
  font-weight: 800;
  font-size: 30px;
   background: linear-gradient(45deg, #E17DAF, #E4918B 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.what_content {

}

.right_content{
  height: 100%;
    display: flex;
    align-items: center;
    margin: 3rem 0;
    justify-content: center;
    
}

.right_content img {
   height: 300px;
}
.left_content img {
    height: 300px;
}
.left_content {
    height: 100%;
    display: flex;
   align-items: center;
    margin: 3rem 0;
    justify-content: center;

}
.number {
  margin-right: 1rem;

}

.number img {
  height: 30px !important;
}

.number p{
     font-size: 30px !important;
     line-height: unset;
    color: white;
        font-weight: 800;
  font-size: 30px;
   background: linear-gradient(45deg,#8BB0DE , #E080B2 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.left_content p{
    color: white;
    font-size: 20px;
    display: flex;

}

.right_content p {
color: white;
font-size: 20px;
}








.right_content_md{
  height: 100%;
    display: flex;
    align-items: center;
    margin: 3rem 0;
    justify-content: center;
    
}

.right_content_md img {
   height: 300px;
}
.left_content_md img {
    height: 300px;
}
.left_content_md {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 3rem 0;
    justify-content: center;

}

.left_content_md p{
  
    color: white;
    font-size: 20px;
}

.right_content_md p {
color: white;
font-size: 20px;
display: flex;

}
.left_content_sm {
  display: none;
    height: 100%;
  
    align-items: center;
    margin: 3rem 0;
    justify-content: center;
}
.right_content_sm{
  display: none;
   height: 100%;
   
   
    margin: 3rem 0;
    justify-content: center;
}

.right_content_sm img {
   height: 300px;
}
.left_content_sm img {
    height: 300px;
}
.left_content_sm p{
    color: white;
    font-size: 20px;
}

.right_content_sm p {
color: white;
font-size: 20px;
display: flex;

}

@media (max-width: 959px) {
  .left_content_sm {
  display: flex;
}
.right_content_sm{
  display: flex;
}

.right_content_md{
  display: none;
}

.left_content_md{
  display: none;
}
}


@media (max-width: 400px) {
  .left_content {
    margin-bottom: 0;
}
.right_content{
  margin-top: 1rem;
}
.right_content_sm{
  margin-bottom: 0rem;
}
.left_content_sm{
  margin-top: 1rem;
}
.number{
  margin-right: .5rem;
}
}

@media (max-width: 350px) {
  .left_content_sm p{

    font-size: 16px;
}
.left_content p {

font-size: 16px;
}
.right_content_sm p{
  font-size: 16px;
}
}